body {
 background-color: #E6D8B9; 
}

nav {
  background-color:#8CC7AB;
}

h1 {
  text-align:center;
}

h2 {
  text-align:center;
}

h3 {
  text-align:center;
}

p {
 text-align:center; 
}

ul {
  text-align:center
}

table {
  text-align:center;
  border-color: 1px solid black;
  padding: 10%;
}
