body {
 background-color: #F1ECE4; 
}

li {
 float: left;
 background-color:#ABEBC6;
 list-style-type:none;
 border-color: #44A06F;
 border-width: 5px;
 padding-left:10px;
 padding-right:50px;
 padding-top: 10px;
 padding-bottom:10px;
}

li a {
color:#FFFFFF;
 padding-left:10px;
 padding-right:50px;
 padding-top: 10px;
 padding-bottom:10px;
}

li a:hover {
 color:#ABEBC6;
 background-color:#FFFFFF;
}

nav {
 background-color:#ABEBC6;
 display: inline;
 padding-left:10px;
 padding-right:10px;
 padding-top: 10px;
 padding-bottom:10px;
}

h1 {
  text-align:center;
}

h2 {
  text-align:center;
}

h3 {
  text-align:center;
}

p {
 text-align:center; 
}

ul {
  text-align:center
}

table {
  text-align:center;
  border-color: 1px solid black;
  padding: 10%;
}
