body {
 background-color: #F1ECE4; 
 text-align:center;
}

header {
 float: left;
 background-color:#ABEBC6;
 list-style-type:none;
 border-style:solid;
 border-color: #44A06F;
 border-width: 5px;
 padding-left:10px;
 padding-right:50px;
 padding-top: 10px;
 padding-bottom:10px;
}

li.li-nav {
 float: left;
 background-color:#ABEBC6;
 list-style-type:none;
 border-color: #44A06F;
 border-width: 5px;
 padding-left:10px;
 padding-right:50px;
 padding-top: 10px;
 padding-bottom:10px;
}

li a {
color:#FFFFFF;
 padding-left:10px;
 padding-right:50px;
 padding-top: 10px;
 padding-bottom:10px;
}

li a:hover {
 color:#ABEBC6;
 background-color:#FFFFFF;
 padding-top: 5px;
 padding-bottom:5px;
}

nav {
 background-color:#ABEBC6;
 display: inline;
 padding-left:10px;
 padding-right:10px;
 padding-top: 10px;
 padding-bottom:10px;
}

h1 {
  margin-top:15px;
 padding-top:15px;
  text-align:center;
}

h2 {
  text-align:center;
}

h3 {
  text-align:center;
}

p {
 text-align:center; 
}

ul {
  text-align:center
}

.dtable {
 margin-left:auto;
 margin-right:auto;
}

th,td {
  text-align:center;
  border-width:3px;
  border-style:solid;
   border-color:#000000;
  border-collapse: collapse;
  padding: 5%;
}

table {
 text-align:center;
 margin-left:auto;
 margin-right: auto;
 table-layout:fixed;
 width:100%;
 white-space;nowrap;

.button {
 display:inline;
}
 
 .sorry {
  padding-top:10px;
 }
